@font-face {
  font-family: tr-font;
  src: url('@/assets/fonts/zaozigongfangliheiti.woff2');
}

.box {
  position: absolute;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.box-fullscreen {
  // 一个全屏的按钮
  position: absolute;
  top: 2%;
  right: 0.3%;
  z-index: 2000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  // animation: fade-in 1s ease-in 0.3s;
  pointer-events: auto;
}

.box-content {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0%);
}

.box-title {
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 20px;

  /* 出现加个过渡 */
  transition: all 0.5s;
}

.box-title-img {
  width: 25%;
}

.box-title-item_1 {
  top: 8.3%;
  // border: #26fbff 1px solid;
  opacity: 0;
  animation: slide-from-left 0.5s ease-in-out forwards;
}

.box-title-item_2 {
  top: 38.7%;
  // border: #26fbff 1px solid;
  opacity: 0;
  animation: slide-from-left 0.5s ease-in-out 0.4s forwards;
}

.box-title-item_3 {
  top: 69.1%;
  // border: #26fbff 1px solid;
  opacity: 0;
  animation: slide-from-left 0.5s ease-in-out 0.8s forwards;
}

.box-title-item_4 {
  top: 8.3%;
  // border: #26fbff 1px solid;
  opacity: 0;
  animation: slide-from-right 0.5s ease-in-out forwards;
}

.box-title-item_5 {
  top: 38.7%;
  // border: #26fbff 1px solid;
  opacity: 0;
  animation: slide-from-right 0.5s ease-in-out 0.4s forwards;
}

.box-title-item_6 {
  top: 69.1%;
  // border: #26fbff 1px solid;
  opacity: 0;
  animation: slide-from-right 0.5s ease-in-out 0.8s forwards;
}

@keyframes slide-from-right {
  from {
    right: 0;
    opacity: 0;
  }

  to {
    right: 1.1%;
    opacity: 1;
  }
}

@keyframes slide-from-left {
  from {
    left: 0;
    opacity: 0;
  }

  to {
    left: 1.1%;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.box-title-item {
  position: absolute;
  width: 23.36%;
  height: 28.5%;
  border: solid 1px rgba(29, 68, 129, 50%);
  pointer-events: auto;
}

.box-title-item_header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 13%;
  padding: 0 0 0 12%;
  font-weight: 900;
  font-size: 1.2rem;
  font-family: tr-font, sans-serif;

  span {
    // text-shadow: 0.1rem 0.1rem 1.5rem #062768;
    background-image: linear-gradient(to bottom, #fff 40%, #affcff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.box-title-item_body {
  position: relative;
  width: 100%;
  height: 87%;
}

.map-svg {
  width: 100%;
  height: 100%;
  transform: scale(0.685) translate(1.7%, -5.5%);
}
